.App {
  text-align: center;
}

.resultDiv{
  background-color: rgb(175, 227, 227);
  border: 1px solid silver;
  width: 30%;
  margin: 3% auto;
  border-radius: 10px;
  padding: 20px;
}

.results{
  border: 1px solid silver;
  background-color: aquamarine;
  width: 80%;
  margin: auto;
  border-radius: 10px;
}
.red{
  color: red;
  font-size: 15px;
}